#title{
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1em;
}
h2{
  text-align: center;
  color: var(--secondary-color);
  margin: 1em 0;
}
h3{
  color: var(--primary-color);
}
.card:hover h3{
  color: white;
}

.card{
  width: 40%;
  height: 10em;
  margin: 2em auto;
  background-color: whitesmoke;
  color: var(--secondary-color);
  display: flex;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  &:hover{
    background-color: var(--primary-color);
    color: white;
  }
}
.cardSubcontainer{
  padding: 1em;
  width: 50%;
}
.cardSubcontainer h1{
  margin: 2rem auto;
  text-align: center;
}
img{
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
}
.buttonContainer{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

button {
  width: 15em;
  height: 3em;
  background-color: var(--primary-color);
  color: white;
  font-size: larger;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover{
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  }
}
.reservation{
  cursor: pointer;
}
