nav{
  margin-bottom: 5em;
}
.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
img{
  width: 10%;
  cursor: pointer;
  &:active{
    border: none;
  }
}
.subContainer{
  margin: 1em 1em 1em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon{
  width: 4em;
}
hr{
  border-color: var(--primary-color);
}
.deconnect{
  margin: auto;
  text-align: center;
  cursor: pointer;
  color: var(--primary-color);
  background: linear-gradient(var(--primary-color),var(--primary-color)) center bottom;
  background-size: 0% 2px;
  padding-bottom: 1px;
  &:hover{
    background-size: 100% 2px;
    background-repeat:no-repeat;
    transition: background 1.5s;
  }
}
