form{
  width: 30%;
  margin: auto;
  margin-top: 4em;
}
.container{
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.formSubContainer{
  width: 23%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label, input{
  width: 80%;
}
label{
  color: grey;
}
input{
  padding: 1em 1em;
  font-size: larger;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
}
span{
  color: red;
}
.errorMessage{
  color: red;
  font-size: smaller;
}
.buttonContainer{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
button {
  margin: 3em;
  width: 15em;
  height: 3em;
  background-color: var(--primary-color);
  color: white;
  font-size: larger;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover{
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  }
}
h2{
  width: 40%;
  text-align: center;
}
